/*尾部*/
.footer{
	border-top:6px solid #fd6800;
	padding-bottom: 106px;
}
.footer .footer_top{
	 background: #f2f2f2;
}

.footer .footer_top ul{
	width: 890px;
    height: 98px;
   
    padding: 0px 200px 0px 110px;
    line-height: 98px;
    
}
.footer .footer_top ul li{
	width: 130px;
	height: 54px;
	float: left;
	margin: 0px 0px 0px 90px;
}
.footer .footer_top ul li a{
	display: block;
	width: 130px;
	height: 54px;
}
.footer .footer_top ul li a img{
    width: 130px;
    height: 50px;
}
.footer .footer_con{
	position: relative;
}

.footer .footer_con ul{
	width: 750px;
	height: 150px;
	padding:36px 225px 48px 225px;
}
.footer .footer_con li{
	width: 150px;
	float: left;
}
.footer .footer_con li a{
	display: block;
	width: 150px;
	text-align: center;
	line-height: 30px;
	font-family: "黑体";
	color: #888;
}
.footer .footer_con li a:first-of-type{
	color: #000;
}
.footer .footer_con .footer_logo{
	width: 162px;
	height: 86px;
	display:block;
	
	position: absolute;
	top: 66px;
	right: 140px;
}
.footer .footer_con .copyright{
	height: 18px;
	line-height: 18px;
	margin:0px auto 16px auto;
    padding-right: 214px;
    padding-left: 216px;
}
.footer .footer_con .copyright p{
	float: left;
	padding: 0px 20px;
	border-right:1px solid #888;
}
.footer .footer_con .copyright p:last-of-type{
	border-right:none;
}
.footer .footer_con .copyright_con{
	text-align: center;
}
